server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info
spring:
  datasource:
    url: jdbc:mysql://mysql:3306/projetmpisi
  hikari:
    initialization-fail-timeout: 0
  username: root
  password: root