apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
        - name: spring-app
          image: amalab123/projetmpisi-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8888

          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: DATABASE_URL
              value: "jdbc:mysql://mysql:3306/projetmpisi_db"
            - name: DATABASE_PASSWORD
              value: "apppass123"
            - name: SERVER_PORT
              value: "8888"