name: CI/CD SonarCloud & Docker

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  SONAR_HOST_URL: https://sonarcloud.io
  SONAR_ORG: amalab1-1
  SONAR_PROJECT_KEY: projetMPISI

jobs:
  ci:
    name: Build + Test + SonarCloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build, Test & SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          .\mvnw clean verify sonar:sonar \
            -Dsonar.projectKey=${{ env.SONAR_PROJECT_KEY }} \
            -Dsonar.organization=${{ env.SONAR_ORG }} \
            -Dsonar.host.url=${{ env.SONAR_HOST_URL }}

  cd:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/projetmpisi:latest
            ${{ secrets.DOCKER_USERNAME }}/projetmpisi:${{ github.sha }}
